.details {
    padding-top: 15px;
    padding: 15px;
    padding-right: 15px;
}

.back {
    position: relative;
    display: flex;
    color: orange;
    margin-bottom: 15px;
    padding-bottom: 3px;
    text-decoration: none;
    width: 100px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: rgb(158, 77, 183);
    overflow: hidden;
    &::before {
        position: absolute;
        width: 100px;
        height: 100px;
        content: "";
        background-color: rgb(164, 18, 91);
        rotate: 45deg;
        left: 105%;
        transition: left 300ms;
    }
    &::after {
        content: "Go Back";
        color: orange;
        z-index: 2;
    }
    &:hover {
        &::before {
            left: 30%;
        }
    }
}
.detailsContainer {
    display: flex;
    text-transform: uppercase;
	letter-spacing: .2em;
}
.textContent{
    padding-left: 15px;
}

.btnMore {
    text-decoration: none;
    color: orange;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
    background-color: antiquewhite;
    border-radius: 5px;
    &:not(:last-child) {
        margin-right: 15px;
    }
}
.btnCon {
    display: flex;
    padding: 15px;
}